@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


*{
	margin:0;
	padding:0;
	
}
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}
form {
    width: 900px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    top:50%;
    left:50%
    }
    .font1{
	 font-family: 'Wemakeprice-Bold'
	 ;}
	
.h1,
h2,
.h2,
h3,
.h3 { 
  margin-top: 10px;
  margin-bottom:20px;
}
img{
	margin:0;
	width:200px;
	height:250px;
	background-color:white;
}
div.cardList{
	display:inline-block;
	margin:0 auto;
	width:288px;
	height:300px;
	
} 
div.card{
	display:inline-block;
	margin:0 auto;
	width:250px;
	height:300px;
	
}

